<header>
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" routerLink="/">
      <img class="navbar-logo" src="./assets/todo_logo.png" alt="Logo">
    </a>

    <button (click)="toggleMenu()" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent" data-cy="menuItems">
      <ul class="navbar-nav mr-auto" data-cy="leftMenu">
        <li class="nav-item active">
          <a (click)="toggleMenu()" class="nav-link" routerLink="/">All Items</a>
        </li>
        <li (click)="toggleMenu()" class="nav-item active">
          <a class="nav-link" routerLink="/unknown">"Unknown"</a>
        </li>
        <li (click)="toggleMenu()" class="nav-item active">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>

        <li (click)="toggleMenu()" class="nav-item active">
          <a class="nav-link" routerLink="/signup">Signup</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" data-cy="rightMenu">
        <li class="nav-item active nav-link">Welcome {{ loggedInUser?.email }}</li>
        <li class="nav-item active" (click)="logout()" [hidden]="!loggedInUser" >
          <a class="nav-link" routerLink="">logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
